
.footer{
    height: 25%;
    width: 100% ;
    margin-top: -18px;

    background-color: rgb(6, 83, 27);
    color:  rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.footer__social{
    width: 100%;
    padding: 8px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;
    margin-bottom: 1%;
}
.eng{
    margin-top: -20px;
    margin-bottom: 15px;

}